@import '../../styles/library.scss';

// Home quote styles
.home-quote-c {
    width: 50%;
    text-align: center;
    margin: 0 auto;
    padding: 100px 0;

    .home-quote {
        font-size: clamp(1em, 2vw, 1.7em);
        font-weight: 100;
    }
}

// Image feature styles
.home-img-feature {
    width: 100%;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    .takashi-feat-01 {
        width: 30%;

        img {
            width: 100%;
            height: 500px;
            object-fit: cover;
            object-position: 50% 0;
        }
    }

    .takashi-feat-02 {
        width: 50%;

        img {
            width: 100%;
            height: 500px;
            object-fit: cover;
        }
    }

}



// Home feature styles
.home-feature {
    width: 100%;
    height: 100dvh;
    background-color: #181718;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h-sapphire-img-c {
    width: 25%;
}

.h-sapphire-img-c img {
    width: 100%;
}

.hublot-spin-vid-c {
    display: flex;
    justify-content: center;
    width: 50%;

    video {
        width: 70%;
    }
}

.hublot-feature-text {
    width: 40%;
    
    h1 {
        @include default-heading;
        font-size: clamp(3.5em, 5vw, 5em);
        padding: 10px 0 25px 0;
    }

    span {
        @include default-subheading;
        font-size: 1em;
    }
 
    .hublot-price {
        // add so price-border aligns
        position: relative;
    }

    .hublot-price::after {
        @include price-border;
    }

    .h-sapphire-btn {
        @include shop-button(black, black)
    }

    .h-colorstone-btn {
        @include shop-button(white, lightgray);
    }
}

.sapphire-width {
    width: 30%;
}

// media queries

@media screen and (max-width: 850px) {

    .home-feature {
        flex-direction: column;
    }

    .hublot-feature-text {
        text-align: center;
    }

    .h-sapphire-img-c {
        padding-top: 50px;
        width: 45%;
    }

    .hublot-spin-vid-c {
        justify-content: center;
        width: 100%;
        max-width: 500px;

        video {
            width: 100%;
        }
    }

    .hublot-feature-text,
    .sapphire-width {
        width: 50%;
    }

}
