@import '../../styles/library.scss';

// Home bio styles
.home-bio-c {
    width: 65%;
    min-width: 400px;
    text-align: center;
    margin: 0 auto;
    padding: 100px 0 150px 0;

    h1 {
        text-transform: uppercase;
        font-size: 2.3em;
        letter-spacing: 0.1em;
        color: #C40D2E;
        margin: 0 0 30px 0;
    }

    p {
        font-size: clamp(1em, 1vw, 1.1em);
        font-weight: 100;
        line-height: 1.6em;
        color: $subtext-color;
    }

    a {
        @include shop-button(black, lightgray)
    }
}

// Image feature styles
.home-img-feature {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 50px 0;

    .takashi-feat-01 {
        width: 30%;

        img {
            width: 100%;
            height: 50vh;
            object-fit: cover;
            object-position: 50% 0;
        }
    }

    .takashi-feat-02 {
        width: 50%;

        img {
            width: 100%;
            height: 50vh;
            object-fit: cover;
            object-position: 50% 38%;
        }
    }

}


// Home feature styles
.home-feature {
    width: 100%;
    height: 100vh;
    background-color: $black-bg;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h-sapphire-img-c {
    width: 25%;
}

.h-sapphire-img-c img {
    width: 100%;
}

.hublot-spin-vid-c {
    display: flex;
    justify-content: center;
    width: 50%;

    video {
        width: 70%;
    }
}

.hublot-feature-text {
    width: 40%;
    
    h1 {
        @include default-heading;
        font-size: clamp(3.5em, 5vw, 5em);
        padding: 10px 0 25px 0;
    }

    span {
        @include default-subheading;
        font-size: 1em;
    }
 
    .hublot-price {
        // add so price-border aligns
        position: relative;
    }

    .hublot-price::after {
        @include price-border;
    }

    .h-sapphire-btn {
        @include shop-button(black, black)
    }

    .h-colorstone-btn {
        @include shop-button(white, lightgray);
    }
}

.sapphire-width {
    width: 30%;
}

// media queries

@media screen and (max-width: 850px) {

    .home-bio-c {
        min-width: 90%;

        h1 {
            font-size: 1.8em;
        }
    }

    .home-img-feature {
        flex-direction: column;

        .takashi-feat-01 {
            width: 90%;
        }

        .takashi-feat-02 {
            width: 90%;
        }
    }

    .home-feature {
        flex-direction: column;
        padding-top: 50px;
    }

    .hublot-feature-text {
        text-align: center;
    }

    .h-sapphire-img-c {
        padding-top: 50px;
        width: 45%;
    }

    .hublot-spin-vid-c {
        justify-content: center;
        width: 100%;
        max-width: 500px;

        video {
            width: 100%;
        }
    }

    .hublot-feature-text,
    .sapphire-width {
        width: 50%;
    }

    .hublot-feature-text {
        .h-sapphire-btn,
        .h-colorstone-btn {
            width: 90%;
        }
    }

}
