@import '../styles/library.scss';

.footer-c {
    background-color: $black-bg;
    width: 100%;
    padding: 80px 50px;
    text-align: center;
}

.footer-logo-c {
    text-align: center;

    img {
        width: 3em;
    }
}

.footer-services-c {
    text-align: center;
    padding-top: 80px;

    a {
        text-decoration: none;
        color: white;
        padding: 0 5px;
        font-size: 0.7em;
        transition: 0.3s;

        &:hover {
            opacity: 0.6;
        }
    }

    span {
        color: white;
    }
}

.footer-socials-c {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;

    a {
        text-decoration: none;
        color: white;
        font-size: 1.5em;
        margin: 0 1.5vw;
        transition: 0.3s;

        &:hover {
            opacity: 0.6;
        }
    }
}

.footer-copyright {
    color: rgba($color: #ffffff, $alpha: 0.5);
    font-size: 0.9em;
}