@import '../styles/library.scss';

.nav-container {
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    padding: 20px 30px;
    transition: 0.3s;

    &.hidden {
        transform: translateY(-100%);
    }

    &.visible {
        transform: translateY(0);
    }

    a {
        @include default-link;
        font-weight: 600;
        font-size: 0.75em;
        
        img {
            width: 2rem;
        }
    }

    div {
        a {
            padding-left: 30px;
        }
    }

}

.default-nav {
    background-color: white;
    border-bottom: solid 1px lightgray;
}